<footer class="fh footer">
    <div class="fh upper-footer">

        <div class="fv">
            <div class="fh footer-logo">
                <img src="/img/Favicon.svg" alt="REVEUX-logo" id="footerLogo">
                <span>REVEUX</span>

            </div>
            <div class="contact">
                <div>Email: Reveux@gmail.com</div>
                <div>Contact: 012-3456789</div>
            </div>
            <div class="social">
                <img src="/img/facebook.svg" alt="social-media-facebook">
                <img src="/img/instagram.svg" alt="social-media-instagram">
                <img src="/img/twitter.svg" alt="social-media-twitter">
                <img src="/img/tiktok.svg" alt="social-media-tiktok">
            </div>
        </div>
        <div class="fh footer-pages">
            <div>
                <div>Products</div>
                <ul>
                    <li>Make up</li>
                    <li>Fragrance</li>
                    <li>Skincare</li>
                    <li>Men</li>
                    <li>Women</li>
                </ul>
            </div>
            <div>
                <div>Company</div>
                <ul>
                    <li>About us</li>
                </ul>
            </div>
            <div>
                <div>Help</div>
                <ul>
                    <li>Contact us</li>
                </ul>
            </div>
        </div>
        <div class="newsletter">
            <div>Don't Miss Out</div>
            <div>Subscribe for the newsletter to get the latest beauty news, product samples and promotions.</div>
            <div>Email Address</div>
            <input type="email" placeholder="Email Address">
            <input type="submit" value="Subscribe">
        </div>
    </div>
    </div>
    <div>
        <div class="policies">

        </div>
        <div class="copyright back-to-top">

        </div>
</footer>