<footer class="fv footer">
    <div class="fh upper-footer">

        <div class="fv">
            <div class="fh footer-logo">
                <img src="/img/Favicon.svg" alt="REVEUX-logo" id="footerLogo">
                <span>REVEUX</span>

            </div>
            <div class="contact">
                <div>Email: Reveux@gmail.com</div>
                <div>Contact: 012-3456789</div>
            </div>
            <div class="social">
                <img src="/img/facebook.svg" alt="social-media-facebook">
                <img src="/img/instagram.svg" alt="social-media-instagram">
                <img src="/img/twitter.svg" alt="social-media-twitter">
                <img src="/img/tiktok.svg" alt="social-media-tiktok">
            </div>
        </div>
        <div class="fh footer-pages">
            <div>
                <div>Products</div>
                <ul>
                    <li>Make up</li>
                    <li>Fragrance</li>
                    <li>Skincare</li>
                    <li>Men</li>
                    <li>Women</li>
                </ul>
            </div>
            <div>
                <div>Company</div>
                <ul>
                    <li>About us</li>
                </ul>
            </div>
            <div>
                <div>Help</div>
                <ul>
                    <li>Contact us</li>
                </ul>
            </div>
        </div>
        <div class="newsletter">
            <div>Don't Miss Out</div>
            <div>Subscribe for the newsletter to get the latest beauty news, product samples and promotions.</div>
            <div>Email Address</div>
            <input type="email" placeholder="Email Address">
            <input type="submit" value="Subscribe">
        </div>
    </div>
    </div>
    <div class="lower-footer fh">
        <div class="policies">
            <span>Terms & Conditions</span>
            <span>Privacy Policy</span>
        </div>
        <div class="copyright back-to-top">
            <span>&copy; 2021 REVEUX CORP</span>
            <span>Back to top <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#FAFAFA"
                    viewBox="0 0 250 120">
                    <rect width="256" height="256" fill="none"></rect>
                    <polyline points="48 160 128 80 208 160" fill="none" stroke="#FAFAFA" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="16"></polyline>
                </svg></span>
        </div>
</footer>