<nav class="nav-bar fh">
    <a class="logo" href="/">REVEUX</a>
    <ul class="pagination fh">
        <li><a href="/">Home</a></li>
        <li><a href="#catalog">Catalog</a></li>
        <li><a href="/about-us">About Us</a></li>
        <li><a href="/contact-us">Contact</a></li>
    </ul>
    <ul class="pagination-tools fh">
        <li>Cart</li>
        <li>User</li>
    </ul>
</nav>