<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link rel="shortcut icon" href="img/Favicon.svg" type="image/x-icon" />
    <link rel="stylesheet" href="/src/style.css" />
    <link rel="stylesheet" href="/src/about-us.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <nav class="nav-bar fh">
        <a class="logo" href="#homepage">REVEUX</a>
        <ul class="pagination fh">
          <li><a href="#homepage">Home</a></li>
          <li><a href="#catalog">Catalog</a></li>
          <li><a href="#about-us">About Us</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <ul class="pagination-tools fh">
          <li>Cart</li>
          <li>User</li>
        </ul>
      </nav>
      <div class="history-section fh">
        <div class="history fv">
          <h1>HISTORY</h1>
          <p>
            REVEUX, an online beauty store founded in 2021. In the year 2020,
            the global has been battered by covid-19 pandemic. This pandemic
            changed the lifestyle of people all around the world. The online
            business started becomes the trend and everyone can buy anything
            through an online store and the things will be delivered to the
            buyer. Therefore, we get an business idea to open an online beauty
            store. REVEUX has no physical store, all of the deals and
            transactions are done throught the REVEUX officail website. REVEUX
            offers various type of cosmetic products such as skincare products,
            haircare products, body care products, make-up products, and
            fragrance.
          </p>
        </div>
        <div class="history-img fv">
          <img
            src="img/lipstick.png"
            alt="img_aboutus"
            width="300px"
            height="300px"
          />
        </div>
      </div>
    </header>
    <section class="sec-why-us">
      <div class="why-us">
        <h1>WHY US</h1>
        <div class="img fh">
          <div class="fv">
            <img src="/img/card.svg" alt="card" />
            <p class="fv">
              REVEUX offers our products at affordable price and available to
              everyone
            </p>
          </div>
          <div class="fv">
            <img src="/img/quality.svg" alt="product quality" />
            <p class="fv">
              All of the REVEUX products are in high Quality and suitable for
              all kind of users
            </p>
          </div>
          <div class="fv">
            <img src="/img/time.svg" alt="time" />
            <p class="fv">
              REVEUX products will be delivered to our consumers in one week
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="sec-dev">
      <h1>DEVELOPERS</h1>
      <div class="dev-img fh">
        <div class="fv">
          <img
            src="img/perfume-bottle-02.png"
            alt="cream"
            width="300px"
            height="300px"
          />
          <p class="fv">Lau Sheng Cher</p>
        </div>
        <div class="fv">
          <img
            src="img/perfume-bottle-03.png"
            alt="set"
            width="300px"
            height="300px"
          />
          <p class="fv">Pun Xiang Yun</p>
        </div>
        <div class="fv">
          <img
            src="img/perfume-bottle-05.png"
            alt="bottle"
            width="300px"
            height="300px"
          />
          <p class="fv">Siao Wei Chin</p>
        </div>
      </div>
    </section>
    <footer></footer>
  </body>
</html>
