<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REVEUX</title>
    <link rel="shortcut icon" href="/img/Favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/src/style.css">
    <link rel="stylesheet" href="/src/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>

<body>
    <header class='fv header'>
        <%- include("_navbar.ejs") %>

            <div class="fh cover">
                <div class="fv cover-welcome">
                    <div>Luxury lifestyle retail</div>
                    <button class="btn">Shop Now</button>
                </div>

                <div>
                    <img src="img/cover-1.png" alt="Hot sales product">
                </div>
            </div>
    </header>

    <section class="fv top-pick">
        <h1>Today's Pick</h1>
        <img src="/img/Serum-bottle-02.png" alt="Product">
        <a href="/product/DaytimeSerum"><button class="btn">Learn More</button></a>
    </section>

    <section class="fv subscription">
        <h1>Membership Subscription</h1>
        <div class="cards">
            <div class="fv member-card">
                <h2>Default Member</h2>
                <h3>Free</h3>
                Benefits
                <ul>
                    <li>Free delivery over RM300</li>
                    <li>24/7 Customer Service</li>
                    <li>Parcels protected by REVEUX</li>
                    <li>Shipping secured by REVEUX</li>
                </ul>
                <button class="btn inactive">You are now here</button>
            </div>
            <div class="fv member-card">
                <h2>Premium Member</h2>
                <h3 class="price">79.99</h3>
                Benefits
                <ul>
                    <li>Free delivery over RM200</li>
                    <li>24/7 Customer Service</li>
                    <li>Parcels protected by REVEUX</li>
                    <li>Shipping secured by REVEUX</li>
                </ul>
                <button class="btn">Upgrade</button>
            </div>
            <div class="fv member-card">
                <h2>Divine Member</h2>
                <h3 class="price">149.99</h3>
                Benefits
                <ul>
                    <li>Free delivery over RM100</li>
                    <li>24/7 Customer Service</li>
                    <li>Parcels protected by REVEUX</li>
                    <li>Shipping secured by REVEUX</li>
                </ul>
                <button class="btn">Upgrade</button>
            </div>
        </div>
    </section>

    <%- include("_footer.ejs") %>
</body>

</html>