<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REVEUX</title>
    <link rel="shortcut icon" href="/img/Favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/src/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>

<body>
    <header class='header'>
        <nav class='nav-bar'>
            <a class="logo" href="#homepage">REVEUX</a>
            <ul class="pagination">
                <li><a href="#homepage">Home</a></li>
                <li><a href="#catalog">Catalog</a></li>
                <li><a href="#about-us">About Us</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <ul class="pagination-tools">
                <li>Cart</li>
                <li>User</li>
            </ul>
        </nav>

        <div class="cover">
            <div class="cover-welcome">
                <div>Luxury lifestyle retail</div>
                <button class="btn">Shop Now</button>
            </div>

            <div>
                <img src="img/cover-1.png" alt="Hot sales product">
            </div>
        </div>
    </header>

    <div class="top-pick">
        <h1>Today's Pick</h1>
        <img src="/img/Serum-bottle-02.png" alt="Product">
        <button class="btn">Learn More</button>
    </div>

    <div class="subscription">
        <h1>Subscription</h1>
        <div class="cards">
            <div class="member-card">
                <h2>Default Member</h2>
                Benefits
                <ul>
                    <li>24/7 Customer Service</li>
                    <li>Parcels protected by REVEUX</li>
                    <li>Shipping secured by REVEUX</li>
                </ul>
            </div>
            <div class="member-card">
                <h2>Premium Member</h2>
                Benefits
                <ul>
                    <li>24/7 Customer Service</li>
                    <li>Parcels protected by REVEUX</li>
                    <li>Shipping secured by REVEUX</li>
                </ul>
            </div>
            <div class="member-card">
                <h2>Divine Member</h2>
                Benefits
                <ul>
                    <li>24/7 Customer Service</li>
                    <li>Parcels protected by REVEUX</li>
                    <li>Shipping secured by REVEUX</li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>