<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
    <title>Product Page</title>
    <link rel="shortcut icon" href="img/Favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/src/style.css">
=======
    <title>REVEUX</title>
    <link rel="shortcut icon" href="/img/Favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/src/styleProductPage.css">
>>>>>>> 341915cf133c88eace7febf191845d24fd5b2341
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

    <style>
<<<<<<< HEAD
        body {
            display: flex;
            flex-direction: column;
            height: 100vh;
            background-image:white;background-image:  
            radial-gradient(at 60% 58%, hsla(0,100%,91%,1) 0, transparent 50%),  
            radial-gradient(at 83% 77%, hsla(240,93%,80%,1) 0, transparent 50%),  
            radial-gradient(at 17% 22%, hsla(38,75%,85%,1) 0, transparent 50%),  
            radial-gradient(at 34% 38%, hsla(0,85%,80%,1) 0, transparent 50%),  
            radial-gradient(at 10% 84%, hsla(334,74%,91%,1) 0, transparent 48%),  
            radial-gradient(at 80% 20%, hsla(0,100%,95%,1) 0, transparent 50%),
            url("../img/noise-effect.svg"); 
            /* Add frosted-effect or noise-effect */
        }

=======
>>>>>>> 341915cf133c88eace7febf191845d24fd5b2341
        .container {
            display: flex;
            justify-content: center;
            height: 100vh;
            width: auto;
        }

        .product_img,
        .desc {
            display: flex;
            flex-direction: column;
            align-self: center;
        }

        .product_img {
            padding-right: 5em;

        }

        .product_img img {
            background-color: rgba(255, 255, 255, 0.288);
            border-radius: 1em;
            padding: 60px;
        }

        .desc {
            width: 30%;
        }

        .btn {
            font-family: inherit;
            margin-top: 2.5em;
            padding: 0.7em;
            border-radius: .5em;
            background-color: rgb(0, 0, 0);
            color: azure;
        }

        .text_under_btn {
            margin-bottom: 0;
            margin-top: .5em;
            font-size: .7em;
        }

        .title {
            font-weight: bold;
        }

        .top_img {
            width: 100%;
            height: 100vh;
            background-image: url(/img/skincare_cream.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
    </style>
</head>

<body>
    <header class='header'>
        <nav class='nav-bar'>
            <a class="logo" href="/">REVEUX</a>
            <ul class="pagination">
                <li><a href="/">Home</a></li>
                <li><a href="#catalog">Catalog</a></li>
                <li><a href="#about-us">About Us</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <ul class="pagination-tools">
                <li>Cart</li>
                <li>User</li>
            </ul>
        </nav>
        <div class="top_img"></div>
    </header>
    <div class="container">
        <div class="product_img">
            <img src=<%- product.image%> alt="product" width="400px" height="400px">

            <button class="btn">ADD TO CART</button>
            <p class="text_under_btn">Premium Member: 5% discount</p>
            <p class="text_under_btn">Divibe Member: 10% discount</p>
        </div>
        <div class="desc">
            <p class="title">PRODUCT NAME</p>
            <p class="text">
                <%= product.name%>
            </p>
            <p class="title">PRICE</p>
            <p class="text">
                <%= product.price%>
            </p>
            <p class="title">DESCRIPTION</p>
            <table>
                <tr>
                    <td>Skin Types</td>
                    <td>Oily, sensitive, dry</td>
                </tr>
                <tr>
                    <td>Skin Concerns</td>
                    <td>Available to all skin concerns</td>
                </tr>
                <tr>
                    <td>Formulation</td>
                    <td>Natural extract from lavender, aloe vera, and Isatis indigotica.L</td>
                </tr>
                <tr>
                    <td>Skincare by Age</td>
                    <td>Above 20 year-old</td>
                </tr>
            </table>
            <p class="title">INGREDIENTS</p>
            <p class="text">Product Claims: Suitable for all skin type</p>
        </div>
    </div>
    <footer></footer>
</body>

</html>