<footer class="bg-gray-900 antialiased" aria-labelledby="footer-heading">
    <h2 id="footer-heading" class="sr-only">Footer</h2>
    <div class="px-5 py-12 mx-auto max-w-7xl lg:py-16 md:px-12 lg:px-20">
        <div class="xl:grid xl:grid-cols-3 xl:gap-8">
            <div class="space-y-8 xl:col-span-1">
                <a href="/"
                    class=" text-lg font-bold tracking-widest text-gray-300 transition duration-500 ease-in-out transform tracking-relaxed lg:pr-8 font-Cinzel">
                    REVEUX™</a>
            </div>
            <div class="grid grid-cols-2 gap-8 mt-12 xl:mt-0 xl:col-span-2">
                <div class="md:grid md:grid-cols-3 md:gap-8">
                    <div>
                        <h3 class="text-xs font-semibold tracking-wider text-gray-300 uppercase"> Category </h3>
                        <ul role="list" class="mt-4 space-y-4">
                            <li>
                                <a href="/catalog/hair-care"
                                    class="text-sm font-normal text-gray-500 hover:text-gray-300"> Hair Care
                                </a>
                            </li>
                            <li>
                                <a href="/catalog/body-care"
                                    class="text-sm font-normal text-gray-500 hover:text-gray-300"> Body Care
                                </a>
                            </li>
                            <li>
                                <a href="/catalog/skin-care"
                                    class="text-sm font-normal text-gray-500 hover:text-gray-300"> Skin Care </a>
                            </li>
                            <li>
                                <a href="/catalog/make-up"
                                    class="text-sm font-normal text-gray-500 hover:text-gray-300"> Make-up </a>
                            </li>
                            <li>
                                <a href="/catalog/fragrance"
                                    class="text-sm font-normal text-gray-500 hover:text-gray-300"> Fragrance </a>
                            </li>
                        </ul>
                    </div>
                    <div class="mt-12 md:mt-0">
                        <h3 class="text-xs font-semibold tracking-wider text-gray-300 uppercase"> Company </h3>
                        <ul role="list" class="mt-4 space-y-4">
                            <li>
                                <a href="/about-us" class="text-sm font-normal text-gray-500 hover:text-gray-300"> About
                                    Us </a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h3 class="text-xs font-semibold tracking-wider text-gray-300 uppercase"> Help </h3>
                        <ul role="list" class="mt-4 space-y-4">
                            <li>
                                <a href="/contact-us" class="text-sm font-normal text-gray-500 hover:text-gray-300">
                                    Contact Us
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="hidden lg:justify-end md:grid md:grid-cols-1">
                    <div class="w-full mt-12 md:mt-0">
                        <div class="mt-8 lg:justify-end xl:mt-0">
                            <h3 class="text-xs font-semibold tracking-wider text-gray-300 uppercase"> Subscribe to our
                                newsletter </h3>
                            <p class="mt-4 text-sm text-gray-500 lg:ml-auto"> The latest news, articles, and resources,
                                sent to your inbox weekly. </p>
                            <div class="inline-flex items-center gap-2 list-none lg:ml-auto">
                                <form action="/subscription" method="post" id="revue-form" name="revue-form"
                                    target="_blank"
                                    class=" p-1 mt-4 transition duration-500 ease-in-out transform border-2 bg-gray-50 rounded-xl sm:max-w-lg sm:flex">
                                    <div class="flex-1 min-w-0 revue-form-group">
                                        <label for="member_email" class="sr-only">Email address</label>
                                        <input id="cta-email" type="email" class="input-field"
                                            placeholder="Enter your email  ">
                                    </div>
                                    <div class="mt-4 sm:mt-0 sm:ml-3 revue-form-actions">
                                        <button type="submit" value="Subscribe" name="member[subscribe]"
                                            id="member_submit" class="block w-full px-5 py-3 primary-btn">
                                            Notify me </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="px-5 pb-12 mx-auto max-w-7xl sm:px-6 md:flex md:items-center md:justify-between lg:px-20
">
        <div class="flex items-center mt-4 space-x-4 sm:mt-0">
            <!-- Facebook -->
            <a href="/" class="text-gray-500 transition-colors duration-300 ease-in-out hover:text-gray-300">
                <svg width="24px" height="24px" fill="currentColor" viewBox="0 0 24 24" id="Layer_1" data-name="Layer 1"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M22.5 12.063c0 -5.798 -4.702 -10.5 -10.5 -10.5s-10.5 4.702 -10.5 10.5c0 5.241 3.839 9.585 8.859 10.373V15.099H7.693V12.063H10.359V9.75c0 -2.631 1.568 -4.086 3.966 -4.086 1.149 0 2.351 0.205 2.351 0.205v2.584H15.352c-1.304 0 -1.711 0.809 -1.711 1.641v1.969h2.912l-0.465 3.036H13.641V22.437C18.661 21.649 22.5 17.305 22.5 12.063Z"
                        fill-rule="evenodd" />
                </svg>
            </a>
            <!-- Instagram -->
            <a href="/" class="text-gray-500 transition-colors duration-300 ease-in-out hover:text-gray-300">
                <svg width="24px" height="24px" fill="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <path fill="none" d="M0 0h24v24H0z" />
                        <path fill-rule="nonzero"
                            d="M12 2c2.717 0 3.056.01 4.122.06 1.065.05 1.79.217 2.428.465.66.254 1.216.598 1.772 1.153a4.908 4.908 0 0 1 1.153 1.772c.247.637.415 1.363.465 2.428.047 1.066.06 1.405.06 4.122 0 2.717-.01 3.056-.06 4.122-.05 1.065-.218 1.79-.465 2.428a4.883 4.883 0 0 1-1.153 1.772 4.915 4.915 0 0 1-1.772 1.153c-.637.247-1.363.415-2.428.465-1.066.047-1.405.06-4.122.06-2.717 0-3.056-.01-4.122-.06-1.065-.05-1.79-.218-2.428-.465a4.89 4.89 0 0 1-1.772-1.153 4.904 4.904 0 0 1-1.153-1.772c-.248-.637-.415-1.363-.465-2.428C2.013 15.056 2 14.717 2 12c0-2.717.01-3.056.06-4.122.05-1.066.217-1.79.465-2.428a4.88 4.88 0 0 1 1.153-1.772A4.897 4.897 0 0 1 5.45 2.525c.638-.248 1.362-.415 2.428-.465C8.944 2.013 9.283 2 12 2zm0 5a5 5 0 1 0 0 10 5 5 0 0 0 0-10zm6.5-.25a1.25 1.25 0 0 0-2.5 0 1.25 1.25 0 0 0 2.5 0zM12 9a3 3 0 1 1 0 6 3 3 0 0 1 0-6z" />
                    </g>
                </svg>
            </a>
            <!-- Twitter -->
            <a href="/" class="text-gray-500 transition-colors duration-300 ease-in-out hover:text-gray-300">
                <svg width="24px" height="24px" fill="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <path fill="none" d="M0 0h24v24H0z" />
                        <path
                            d="M22.162 5.656a8.384 8.384 0 0 1-2.402.658A4.196 4.196 0 0 0 21.6 4c-.82.488-1.719.83-2.656 1.015a4.182 4.182 0 0 0-7.126 3.814 11.874 11.874 0 0 1-8.62-4.37 4.168 4.168 0 0 0-.566 2.103c0 1.45.738 2.731 1.86 3.481a4.168 4.168 0 0 1-1.894-.523v.052a4.185 4.185 0 0 0 3.355 4.101 4.21 4.21 0 0 1-1.89.072A4.185 4.185 0 0 0 7.97 16.65a8.394 8.394 0 0 1-6.191 1.732 11.83 11.83 0 0 0 6.41 1.88c7.693 0 11.9-6.373 11.9-11.9 0-.18-.005-.362-.013-.54a8.496 8.496 0 0 0 2.087-2.165z" />
                    </g>
                </svg>
            </a>
            <!-- Youtube -->
            <a href="/" class="text-gray-500 transition-colors duration-300 ease-in-out hover:text-gray-300">
                <svg width="24px" height="24px" fill="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <path fill="none" d="M0 0h24v24H0z" />
                        <path
                            d="M21.543 6.498C22 8.28 22 12 22 12s0 3.72-.457 5.502c-.254.985-.997 1.76-1.938 2.022C17.896 20 12 20 12 20s-5.893 0-7.605-.476c-.945-.266-1.687-1.04-1.938-2.022C2 15.72 2 12 2 12s0-3.72.457-5.502c.254-.985.997-1.76 1.938-2.022C6.107 4 12 4 12 4s5.896 0 7.605.476c.945.266 1.687 1.04 1.938 2.022zM10 15.5l6-3.5-6-3.5v7z" />
                    </g>
                </svg>
            </a>
        </div>
        <div class="mt-8 md:mt-0 md:order-1">
            <span class="mt-2 text-sm font-light text-gray-500"> Copyright © 2021 <a href="/"
                    class="mx-2 text-wickedblue hover:text-gray-500"
                    rel="noopener noreferrer tracking-widest font-Cinzel">REVEUX</a>. Since 2021 </span>
        </div>
    </div>
</footer>