<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>About Us</title>
	<meta name="title" content="REVEUX">
	<meta name="description" content="REVEUX is an ecommerce website which sells cosmetic related products. ">
	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://metatags.io/">
	<meta property="og:title" content="REVEUX">
	<meta property="og:description" content="REVEUX is an ecommerce website which sells cosmetic related products. ">
	<meta property="og:image"
		content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">
	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="https://metatags.io/">
	<meta property="twitter:title" content="REVEUX">
	<meta property="twitter:description"
		content="REVEUX is an ecommerce website which sells cosmetic related products. ">
	<meta property="twitter:image"
		content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">
	<link rel="shortcut icon" href="/img/icons/Favicon.svg" type="image/x-icon">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="/src/styles.css">
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap">
	<link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
	<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.3.5/dist/alpine.min.js" defer></script>
</head>

<body>
	<header>
		${_navBar}
		<section class="mx-10 rounded-lg bg-white mt-20 smooth-shadow-light">
			<div class="container px-20 py-12 lg:px-20 lg:py-0 mx-auto">
				<div class="items-center lg:flex">
					<div class="lg:w-1/2">
						<h2 class="text-3xl font-bold text-gray-800">What is REVEUX?</h2>

						<p class="leading-6 mt-4 text-gray-500 lg:max-w-md">
							REVEUX, an online beauty store founded in 2021. In the year 2020, the global has been
							battered by covid-19 pandemic. This pandemic changed the lifestyle of people all around the
							world. The online business started becomes the trend and everyone can buy anything through
							an online store and the things will be delivered to the buyer. Therefore, we get an business
							idea to open an online beauty store. REVEUX has no physical store, all of the deals and
							transactions are done throught the REVEUX officail website. REVEUX offers various type of
							cosmetic products such as skincare products, haircare products, body care products, make-up
							products, and fragrance.
						</p>

					</div>

					<div class="mt-8 lg:mt-0 lg:w-1/2">
						<div class="flex items-center justify-center lg:justify-end">
							<div class="max-w-lg">
								<svg class="-my-20 lg:my-0" width="500" height="500" viewBox="0 0 400 1000"
									version="1.1" xmlns="http://www.w3.org/2000/svg">
									<defs id="SvgjsDefs1802" />
									<g id="SvgjsG1803"
										transform="matrix(6.639838677459113,0,0,6.639838677459113,1.6800759120877347,-41.79664690431002)"
										fill="#000000">
										<path
											d="M54 111l-12.222 0l-7.833 0l-4.833 0l-3.167 0.056l-2.833 0.056l-3.889 0l-6.333 0l-10.111 0l0 -55.222l29.444 0c2.444 0 4.759 0.463 6.944 1.389s4.093 2.204 5.722 3.833s2.926 3.537 3.889 5.722s1.444 4.5 1.444 6.944c0 3.333 -0.815 6.352 -2.444 9.056s-3.741 4.833 -6.333 6.389l12.556 21.778l0 0z" />
									</g>
								</svg>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</header>

	<!-- Why choosing us -->
	<section
		class="mx-10 mt-20 rounded-lg px-20 pb-24 pt-20 bg-gradient-to-b from-[hsl(233,18%,28%)] via-gray-800 to-black overflow-hidden smooth-shadow-light">
		<div class="container px-4 mx-auto">
			<div class="flex flex-wrap items-center -mx-4">
				<div class="w-full lg:w-2/5 px-4 mb-20 lg:mb-0">
					<div class="lg:max-w-lg">
						<span class="text-lg text-blue-400 font-bold">Clouds</span>
						<h2 class="mt-8 mb-12 text-6xl 2xl:text-7xl font-bold font-heading text-white">Trusted by brands
							all over the world</h2>
						<!-- <p class="text-lg text-gray-200">The brown fox jumps over the lazy dog.</p> -->
					</div>
				</div>
				<div class="w-full lg:w-3/5 px-4">
					<div class="flex justify-center items-center">
						<div class="py-8 px-2 sm:px-6 mr-3 w-fit bg-gray-600 rounded-lg">
							<img class="h-20 w-32" src="/img/chanel.png" alt="mac">
						</div>
						<div class="flex flex-col mr-3">
							<div class="inline-block ml-auto py-2 sm:px-4 mb-3 bg-gray-600 rounded-lg">
								<img class="mx-auto w-30 h-20" src="/img/ysl.png" alt="ysl">
							</div>
							<div class="py-10 px-2 sm:px-12 bg-gray-600 rounded-lg">
								<img class="h-4 md:h-8 mx-auto" src="/img/k.png" alt="kiehl's">
							</div>
						</div>
						<div class="-mb-32">
							<div class="py-5 px-2 sm:px-10 mb-3 bg-gray-600 rounded-lg">
								<img class="h-16 mx-auto" src="/img/el.png" alt="el" width="90px" height="100px">
							</div>
							<div class="inline-block py-8 px-2 sm:px-8 bg-gray-600 rounded-lg">
								<img class="h-6 mx-auto w-30" src="/img/sk.png" alt="sk2"  width="30px" height="30px">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Team -->
	<section class="mx-10 my-20 bg-white rounded-lg smooth-shadow-light">
		<div class="h-[32rem] bg-white rounded-tl-lg rounded-tr-lg">
			<div class="container px-6 py-10 mx-auto">
				<h1 class="text-3xl font-semibold text-center text-gray-800 capitalize lg:text-4xl">The
					Executive Team</h1>

				<div class="flex justify-center mx-auto mt-6">
					<span class="inline-block w-40 h-1 bg-blue-500 rounded-full"></span>
					<span class="inline-block w-3 h-1 mx-1 bg-blue-500 rounded-full"></span>
					<span class="inline-block w-1 h-1 bg-blue-500 rounded-full"></span>
				</div>

				<p class="max-w-2xl mx-auto mt-6 text-center text-gray-500">
					We are the team for group 1 in CSF3206 from University of Malaysia Terengganu.
				</p>
			</div>
		</div>

		<div class="container px-6 py-10 mx-auto -mt-72 sm:-mt-80 md:-mt-96">
			<div class="grid grid-cols-1 gap-8 mt-8 xl:mt-16 md:grid-cols-2 xl:grid-cols-3">
				<div class="flex flex-col items-center p-4 border sm:p-6 rounded-xl">
					<svg xmlns="http://www.w3.org/2000/svg" class="h-full w-full" viewBox="0 0 300 300" fill="none">
						<circle cx="150" cy="150" r="150" fill="url(#a)" />
						<mask id="b" width="300" height="300" x="0" y="0" maskUnits="userSpaceOnUse"
							style="mask-type:alpha">
							<circle cx="150" cy="150" r="150" fill="#fff" />
						</mask>
						<g mask="url(#b)">
							<g filter="url(#c)">
								<path fill="url(#d)" fill-rule="evenodd"
									d="M95 210c18 13 37 24 55 24s37-11 55-24c-15-5-23-12-23-21v-53c15-18 9-40 5-40-6 1-53-44-63-47-9-2-32 6-36 27s-6 73 10 94c4 6 11 8 20 7v12c0 9-8 16-23 21Z"
									clip-rule="evenodd" />
								<mask id="e" width="120" height="185" x="85" y="49" maskUnits="userSpaceOnUse"
									style="mask-type:alpha">
									<path fill="#fff" fill-rule="evenodd"
										d="M95 210c18 13 37 24 55 24s37-11 55-24c-15-5-23-12-23-21v-53c15-18 9-40 5-40-6 1-53-44-63-47-9-2-32 6-36 27s-6 73 10 94c4 6 11 8 20 7v12c0 9-8 16-23 21Z"
										clip-rule="evenodd" />
								</mask>
								<g mask="url(#e)">
									<path fill="#FC9F6A" d="M118 177c22-2 36-12 36-12s-16 20-36 24v-12Z" />
								</g>
								<path fill="url(#f)"
									d="M190 137c6-17 34-51 10-72-8-39-52-34-81-25-20 6-35 18-38 9-20 16-10 33 3 37 12 4 32 9 66 5 6-1 5 18 8 20 5 3 9-16 23-11 13 6 5 33-9 33-5 0-8 14 6 20 9 5 7-6 11-16Z" />
							</g>
							<path fill="url(#g)"
								d="M255 240c10 20 15 64 15 64H30s5-44 15-64c10-19 65-37 65-37 31 12 50 12 80 0 0 0 55 18 65 37Z" />
							<path fill="url(#h)" d="m157 210 5 92h-24l5-92s5-5 7-5 7 5 7 5Z" />
							<path fill="#645050" d="m158 229-16-9 1-10c3-3 5-5 7-5s4 2 7 5l1 19Z" />
							<path fill="#fff" fill-rule="evenodd"
								d="m150 205 10 18 31-19-9-13-32 12-32-12-9 13 31 19 10-18Z" clip-rule="evenodd" />
						</g>
						<defs>
							<linearGradient id="a" x1="0" x2="0" y1="0" y2="300" gradientUnits="userSpaceOnUse">
								<stop stop-color="#363696" />
								<stop offset="1" stop-color="#0E0E25" />
							</linearGradient>
							<linearGradient id="d" x1="205" x2="205" y1="49.1" y2="233.8"
								gradientUnits="userSpaceOnUse">
								<stop stop-color="#F7B186" />
								<stop offset="1" stop-color="#FFC299" />
							</linearGradient>
							<linearGradient id="f" x1="209.7" x2="209.7" y1="33.4" y2="154.4"
								gradientUnits="userSpaceOnUse">
								<stop stop-color="#1D0024" />
								<stop offset="1" stop-color="#100014" />
							</linearGradient>
							<linearGradient id="g" x1="30" x2="30" y1="203" y2="304.3" gradientUnits="userSpaceOnUse">
								<stop stop-color="#1D0024" />
								<stop offset="1" stop-color="#100014" />
							</linearGradient>
							<linearGradient id="h" x1="138" x2="138" y1="205" y2="302" gradientUnits="userSpaceOnUse">
								<stop stop-color="#806A6A" />
								<stop offset="1" stop-color="#665654" />
							</linearGradient>
							<filter id="c" width="164.5" height="224.4" x="57.2" y="28.4"
								color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse">
								<feFlood flood-opacity="0" result="BackgroundImageFix" />
								<feColorMatrix in="SourceAlpha" result="hardAlpha"
									values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
								<feOffset dy="7" />
								<feGaussianBlur stdDeviation="6" />
								<feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.145098 0 0 0 0.04 0" />
								<feBlend in2="BackgroundImageFix" result="effect1_dropShadow_0_311" />
								<feBlend in="SourceGraphic" in2="effect1_dropShadow_0_311" result="shape" />
							</filter>
						</defs>
					</svg>
					<h1 class="mt-4 text-2xl font-semibold text-gray-700 capitalize">Lau Sheng Cher</h1>
					<p class="mt-2 text-gray-500 capitalize">Team Leader</p>
				</div>

				<div class="flex flex-col items-center p-4 border sm:p-6 rounded-xl">
					<svg xmlns="http://www.w3.org/2000/svg" class="h-full w-full" viewBox="0 0 300 300" fill="none">
						<circle cx="150" cy="150" r="150" fill="url(#paint0_linear_0_278)" />
						<mask id="mask0_0_278" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
							width="300" height="300">
							<circle cx="150" cy="150" r="150" fill="white" />
						</mask>
						<g mask="url(#mask0_0_278)">
							<path
								d="M160.864 49.705C156.864 32.205 175.831 18.7759 195.364 27.9947C241.364 49.705 214.672 82.205 198.172 78.705C181.672 75.205 164.864 67.205 160.864 49.705Z"
								fill="url(#paint1_linear_0_278)" />
							<path
								d="M172 160C150.517 170.32 147.383 169.768 100 131C28.5 72.4999 96 18.9999 168.5 47.4999C247 81.9999 220.7 136.605 172 160Z"
								fill="url(#paint2_linear_0_278)" />
							<path fill-rule="evenodd" clip-rule="evenodd"
								d="M174 201C166.667 217 157.333 225 150 225C142.667 225 133.333 217 126 201V181C126 181 122.737 181.096 120.5 181C97.1107 179.998 89.2946 142.373 92.9651 104.738C95.6532 77.1761 119 115 157 88.5C155.5 117.5 168 114.5 173.5 111C198.5 99.5 199 146.5 174.291 142.858C174.301 143.358 174.204 162.739 174 201Z"
								fill="url(#paint3_linear_0_278)" />
							<path
								d="M126 181C135 180.333 146.211 175.3 159.634 165.899C155.521 180.064 144.31 188.431 126 191L126 181Z"
								fill="#FF9768" />
							<path fill-rule="evenodd" clip-rule="evenodd"
								d="M117.732 206.817C117.732 206.817 119.241 196.4 122.779 195.508C126.317 194.615 146.995 194.508 147.014 198.508C147.017 199.242 147.725 207.111 150.083 207.111C152.442 207.111 153.048 199.242 153.051 198.508C153.07 194.508 173.628 194.662 177.286 195.508C180.943 196.353 182.317 206.83 182.317 206.83C182.317 206.83 236.315 232.257 242 243.111C246.889 252.444 250.556 274.111 253 308.111H47C49.4444 274.111 53.1111 252.444 58 243.111C63.6828 232.262 117.732 206.817 117.732 206.817Z"
								fill="url(#paint4_linear_0_278)" />
							<path fill-rule="evenodd" clip-rule="evenodd"
								d="M154 235C154 237.209 152.209 239 150 239C147.791 239 146 237.209 146 235C146 232.791 147.791 231 150 231C152.209 231 154 232.791 154 235ZM154 255C154 257.209 152.209 259 150 259C147.791 259 146 257.209 146 255C146 252.791 147.791 251 150 251C152.209 251 154 252.791 154 255ZM150 279C152.209 279 154 277.209 154 275C154 272.791 152.209 271 150 271C147.791 271 146 272.791 146 275C146 277.209 147.791 279 150 279Z"
								fill="#664F4D" />
							<path
								d="M160.59 79.4278C144.59 119.428 153.59 138.928 166.09 162.428C178.59 185.928 163.09 207.928 163.09 207.928C163.09 207.928 181.09 196.428 181.09 170.928C181.09 145.428 163.09 129.428 178.09 108.428C193.09 87.4278 176.59 39.4278 160.59 79.4278Z"
								fill="url(#paint5_linear_0_278)" />
						</g>
						<defs>
							<linearGradient id="paint0_linear_0_278" x1="0" y1="0" x2="0" y2="300"
								gradientUnits="userSpaceOnUse">
								<stop stop-color="#363696" />
								<stop offset="1" stop-color="#0E0E25" />
							</linearGradient>
							<linearGradient id="paint1_linear_0_278" x1="221" y1="25" x2="221" y2="78.9658"
								gradientUnits="userSpaceOnUse">
								<stop stop-color="#1D0024" />
								<stop offset="1" stop-color="#100014" />
							</linearGradient>
							<linearGradient id="paint2_linear_0_278" x1="69.5618" y1="39.6072" x2="69.5618" y2="165.683"
								gradientUnits="userSpaceOnUse">
								<stop stop-color="#1D0024" />
								<stop offset="1" stop-color="#100014" />
							</linearGradient>
							<linearGradient id="paint3_linear_0_278" x1="92.1014" y1="88.5" x2="92.1014" y2="225"
								gradientUnits="userSpaceOnUse">
								<stop stop-color="#F7B186" />
								<stop offset="1" stop-color="#FFC299" />
							</linearGradient>
							<linearGradient id="paint4_linear_0_278" x1="253" y1="308.111" x2="253" y2="195"
								gradientUnits="userSpaceOnUse">
								<stop stop-color="#FCF2EB" />
								<stop offset="1" stop-color="#FFF9F5" />
							</linearGradient>
							<linearGradient id="paint5_linear_0_278" x1="183.984" y1="64" x2="183.984" y2="207.928"
								gradientUnits="userSpaceOnUse">
								<stop stop-color="#1D0024" />
								<stop offset="1" stop-color="#100014" />
							</linearGradient>
						</defs>
					</svg>
					<h1 class="mt-4 text-2xl font-semibold text-gray-700 capitalize">Siao Wei Chin
					</h1>
					<p class="mt-2 text-gray-500 capitalize">Team Member</p>
				</div>

				<div class="flex flex-col items-center p-4 border sm:p-6 rounded-xl">
					<svg xmlns="http://www.w3.org/2000/svg" class="h-full w-full" viewBox="0 0 300 300" fill="none">
						<circle cx="150" cy="150" r="150" fill="url(#paint0_linear_0_3)" />
						<mask id="mask0_0_3" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="300"
							height="300">
							<circle cx="150" cy="150" r="150" fill="white" />
						</mask>
						<g mask="url(#mask0_0_3)">
							<path fill-rule="evenodd" clip-rule="evenodd"
								d="M222.5 159.5C230.612 132.559 235.612 86.5 201.5 55C175.43 30.9264 105 28.5 80.5 81C76.4101 89.7641 82 103.5 93 103C97.3233 102.803 100 116.5 102.5 125C99 159.5 67.8177 160.137 52 186.5C32.5 219 56.5 267 114 267C171.5 267 204.463 219.404 222.5 159.5Z"
								fill="url(#paint1_linear_0_3)" />
							<path fill-rule="evenodd" clip-rule="evenodd"
								d="M242 238C249.333 252 253 303 253 303H47C47 303 50.6667 252 58 238C69 217 150 190 150 190C150 190 231 217 242 238Z"
								fill="url(#paint2_linear_0_3)" />
							<path fill-rule="evenodd" clip-rule="evenodd"
								d="M174 202C174 202 161.234 209 149.49 209C137.745 209 126 202 126 202V180C123.008 180.534 120.713 180.454 118.358 180.454C94.3705 180.452 85.3248 145.511 90 103C93 103 100 103 110 89C107.5 108.5 136.5 105.5 147.5 90C142 108.5 156.5 121 169 113.5C193.511 98.7932 199.021 143.626 174 144V202Z"
								fill="url(#paint3_linear_0_3)" />
							<path d="M126 180C146 176.5 161 166.5 161 166.5C161 166.5 148.5 188 126 188L126 180Z"
								fill="#FFB597" />
							<path fill-rule="evenodd" clip-rule="evenodd"
								d="M150.033 207.975C157.26 207.648 174 204.108 174 196.46V190C175.834 190 181.085 194.332 183.786 198C194.462 212.5 182.62 225.5 172.962 225.5C160.776 225.5 152.702 215.318 150 210.42C147.298 215.318 139.224 225.5 127.038 225.5C117.38 225.5 105.538 212.5 116.214 198C118.915 194.332 124.166 190 126 190V196.46C126 204.108 143.192 207.648 150.033 207.975H150.033Z"
								fill="white" />
						</g>
						<defs>
							<linearGradient id="paint0_linear_0_3" x1="0" y1="0" x2="0" y2="300"
								gradientUnits="userSpaceOnUse">
								<stop stop-color="#363696" />
								<stop offset="1" stop-color="#0E0E25" />
							</linearGradient>
							<linearGradient id="paint1_linear_0_3" x1="45.3268" y1="267" x2="45.3268" y2="38.5885"
								gradientUnits="userSpaceOnUse">
								<stop stop-color="#E6864E" />
								<stop offset="1" stop-color="#E67240" />
							</linearGradient>
							<linearGradient id="paint2_linear_0_3" x1="253" y1="303" x2="253" y2="190"
								gradientUnits="userSpaceOnUse">
								<stop stop-color="#FFC9B3" />
								<stop offset="1" stop-color="#FFD2C2" />
							</linearGradient>
							<linearGradient id="paint3_linear_0_3" x1="88.8112" y1="89" x2="88.8112" y2="209"
								gradientUnits="userSpaceOnUse">
								<stop stop-color="#FFD4B3" />
								<stop offset="1" stop-color="#FFDCC2" />
							</linearGradient>
						</defs>
					</svg>
					<h1 class="mt-4 text-2xl font-semibold text-gray-700 capitalize">Pun Xiang Yun</h1>
					<p class="mt-2 text-gray-500 capitalize">Team Member</p>
				</div>
			</div>
		</div>
	</section>

	<!-- <section class="sec-why-us">
		<div class="why-us">
			<h1>WHY US</h1>
			<div class="img fh">
				<div class="fv">
					<img src="/img/icons/card.svg" alt="card" />
					<p class="fv">
						REVEUX offers our products at affordable price and available to
						everyone
					</p>
				</div>
				<div class="fv">
					<img src="/img/icons/quality.svg" alt="product quality" />
					<p class="fv">
						All of the REVEUX products are in high Quality and suitable for
						all kind of users
					</p>
				</div>
				<div class="fv">
					<img src="/img/icons/time.svg" alt="time" />
					<p class="fv">
						REVEUX products will be delivered to our consumers in one week
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="sec-dev">
		<h1>DEVELOPERS</h1>
		<div class="dev-img fh">
			<div class="fv">
				<img src="img/perfume-bottle-02.png" alt="cream" width="300px" height="300px" />
				<p class="fv">Lau Sheng Cher</p>
			</div>
			<div class="fv">
				<img src="img/perfume-bottle-03.png" alt="set" width="300px" height="300px" />
				<p class="fv">Pun Xiang Yun</p>
			</div>
			<div class="fv">
				<img src="img/perfume-bottle-05.png" alt="bottle" width="300px" height="300px" />
				<p class="fv">Siao Wei Chin</p>
			</div>
		</div>
	</section> -->
	${_footer}
</body>

</html>