<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REVEUX</title>
    <meta name="title" content="REVEUX">
    <meta name="description" content="REVEUX is an ecommerce website which sells cosmetic related products. ">
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://metatags.io/">
    <meta property="og:title" content="REVEUX">
    <meta property="og:description" content="REVEUX is an ecommerce website which sells cosmetic related products. ">
    <meta property="og:image"
        content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://metatags.io/">
    <meta property="twitter:title" content="REVEUX">
    <meta property="twitter:description"
        content="REVEUX is an ecommerce website which sells cosmetic related products. ">
    <meta property="twitter:image"
        content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">
    <link rel="shortcut icon" href="/img/icons/Favicon.svg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/src/output.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.3.5/dist/alpine.min.js" defer></script>
</head>

<body>
    <header>
        ${_navBar}
    </header>
    <div class="grid auto-cols-auto grid-cols-3 gap-5 mt-20 mb-20 px-12">
        <div class="bg-gray-50 rounded-xl shadow-lg shadow-[hsl(216,100%,86%)] transition-all duration-100 ease-in-out hover:scale-105">
            <a class="block px-6 mt-6 mb-6" href="#">
                <img class="mx-auto object-contain rounded-xl"
                    src="/img/products/hair-care/shampoo/shampoo-04-cover.png" alt="hair-care">
                <h3 class="text-xl font-bold font-heading text-center mt-2">Hair Care</h3>
            </a>
        </div>
        <div class="bg-gray-50 rounded-xl shadow-lg shadow-[hsl(216,100%,86%)] transition-all duration-100 ease-in-out hover:scale-105">
            <a class="block px-6 mt-6 mb-6" href="#">
                <img class="mx-auto object-contain rounded-xl"
                    src="/img/products/skin-care/night-cream/skincare-cream-02-cover.png" alt="body-care">
                <h3 class="text-xl font-bold font-heading text-center mt-2">Body Care</h3>
            </a>
        </div>
        <div class="bg-gray-50 rounded-xl shadow-lg shadow-[hsl(216,100%,86%)] transition-all duration-100 ease-in-out hover:scale-105">
            <a class="block px-6 mt-6 mb-6" href="#">
                <img class="mx-auto object-contain rounded-xl h"
                    src="/img/products/skin-care/toner/toner-01-cover.png" alt="skin-care">
                <h3 class="text-xl font-bold font-heading text-center mt-2">Skin Care</h3>
            </a>
        </div>
        <div class="bg-gray-50 rounded-xl shadow-lg shadow-[hsl(216,100%,86%)] transition-all duration-100 ease-in-out hover:scale-105">
            <a class="block px-6 mt-6 mb-6 overflow-hidden" href="#">
                <img class="mx-auto object-contain rounded-xl h-[283px] w-[424px] "
                    src="/img/products/makeup/eyeshadow/eyeshadow-01-cover.png" alt="make-up">
                <h3 class="text-xl font-bold font-heading text-center mt-2">Make-up</h3>
            </a>
        </div>
        <div class="bg-gray-50 rounded-xl shadow-lg shadow-[hsl(216,100%,86%)] transition-all duration-100 ease-in-out hover:scale-105">
            <a class="block px-6 mt-6 mb-6 overflow-hidden" href="#">
                <img class="mx-auto object-contain rounded-xl h-[283px] w-[424px] "
                    src="/img/products/fragrance/perfume/perfume-02.png" alt="fragrance">
                <h3 class="text-xl font-bold font-heading text-center mt-2">Fragrance</h3>
            </a>
        </div>
    </div>
    ${_footer}
</body>

</html>