<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/src/output.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fauna+One&display=swap">
    <style>
        .component-selected {
            box-sizing: border-box;
        }

        .component-selected--active {
            outline: 1px solid #2094ff;
        }

        .component-selected:not(.component-selected--active):hover {
            outline: 1px dashed #2094ff;
        }
    </style>
</head>

<body>
    ${_navBar}
    <div id="canvas-wrapper" class="opacity-100 css-1tuwe4k eozmaqc0">
        <div class="emptyblock" style="padding-top: 0px; padding-bottom: 0px;">
            <section class="">
                <div id="ae270e10-5c76-47e9-9e35-0515ed4d3a1f" class="container px-5 py-24 mx-auto lg:px-16"
                    draggable="true">
                    <div class="emptyblock" style="padding-top: 0px; padding-bottom: 0px;">
                        <section>
                            <div id="cb8335ef-6315-48ec-a5f1-cf48f2718c6c" class="flex min-h-screen overflow-hidden"
                                draggable="true">
                                <div id="0743f9ac-0bbf-438d-846b-e30fef30c2ce"
                                    class="flex flex-col justify-center flex-1 px-4 py-12 sm:px-6 lg:flex-none lg:px-20 xl:px-24"
                                    draggable="true">
                                    <div id="19d6e985-c2ab-4e74-9489-d3c721abdcb9"
                                        class="w-full max-w-xl mx-auto lg:w-96" draggable="true">
                                        <div id="90c90ff9-73ad-4c36-9b70-8e4812050c5e" draggable="true" class=""><a
                                                href="./index.html" class="text-blue-600 text-medium"
                                                draggable="true"><span>wickedblocks</span></a>
                                            <h2 id="cf07a7f5-1a01-4996-8f7e-9050472fb5d6"
                                                class="mt-6 text-3xl font-extrabold text-neutral-600" draggable="true">
                                                <span class="">Sign in.</span>
                                            </h2>
                                        </div>
                                        <div id="06768c7b-4210-48e1-a5e8-f9a5a8a585cf" class="mt-8" draggable="true">
                                            <div id="237be77c-d652-4c77-bf10-de087ddf3c19" class="mt-6"
                                                draggable="true">
                                                <form id="06419a46-e63f-4a98-a8d4-8f0df2af8a06" action="#" method="POST"
                                                    class="space-y-6" draggable="true">
                                                    <div id="290c85a0-cdeb-4f5c-b1cc-c8763e5b0a6e" draggable="true"
                                                        class=""><label id="268ed7c8-54d1-4b2e-97a8-86cff79d60ef"
                                                            for="email"
                                                            class="block text-sm font-medium text-neutral-600"
                                                            draggable="true"><span>Email address</span></label>
                                                        <div id="532c9624-dfb5-4372-bd48-4c8c48520253" class="mt-1"
                                                            draggable="true"><input id="email" name="email" type="email"
                                                                autocomplete="email" required=""
                                                                placeholder="Your Email"
                                                                class="block w-full px-5 py-3 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300"
                                                                draggable="true"></div>
                                                    </div>
                                                    <div id="1f2f032a-09a9-42f0-938e-901bd0317a43" class="space-y-1"
                                                        draggable="true"><label
                                                            id="214a5403-b1dd-49b1-bd75-c552e6844e1a" for="password"
                                                            class="block text-sm font-medium text-neutral-600"
                                                            draggable="true"><span>Password</span></label>
                                                        <div id="4cd9b909-1d89-40ab-9627-3b789b2fed1f" class="mt-1"
                                                            draggable="true"><input id="password" name="password"
                                                                type="password" autocomplete="current-password"
                                                                required="" placeholder="Your Password"
                                                                class="block w-full px-5 py-3 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300"
                                                                draggable="true"></div>
                                                    </div>
                                                    <div id="079e9dd6-b8db-4bc5-a517-53e328eb2541"
                                                        class="flex items-center justify-between" draggable="true">
                                                        <div id="5ff321ef-8009-46a9-a20e-1d4d2612b156"
                                                            class="flex items-center" draggable="true"><input
                                                                id="remember-me" name="remember-me" type="checkbox"
                                                                placeholder="Your password"
                                                                class="w-4 h-4 text-blue-600 border-gray-200 rounded focus:ring-blue-500"
                                                                draggable="true"><label
                                                                id="a1da482c-a6db-4545-b93c-d0de39a047a0"
                                                                for="remember-me"
                                                                class="block ml-2 text-sm text-neutral-600"
                                                                draggable="true"><span class="">Remember
                                                                    me</span></label></div>
                                                        <div id="3757346d-4cc3-40f6-aa60-f6e8935152b0" class="text-sm"
                                                            draggable="true"><a href="#"
                                                                class="font-medium text-blue-600 hover:text-blue-500"
                                                                draggable="true"><span class="">Forgot your
                                                                    password?</span></a></div>
                                                    </div>
                                                    <div id="cbe59583-ff5c-4fd6-a1a9-262ef29b17a7" draggable="true">
                                                        <button
                                                            class="flex items-center justify-center w-full px-10 py-4 text-base font-medium text-center text-white transition duration-500 ease-in-out transform bg-blue-600 rounded-xl hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
                                                            type="submit"><span>Sign in</span></button>
                                                    </div>
                                                </form>
                                                <div id="72410621-d1c7-4759-ad3d-3827948a8eb7" class="relative my-4"
                                                    draggable="true">
                                                    <div id="334269cb-d4eb-4095-97b4-0e97bfa39f89"
                                                        class="absolute inset-0 flex items-center" draggable="true">
                                                        <div id="78ffd20f-ed7c-4ac0-98ae-febe87ee42f5"
                                                            class="w-full border-t border-gray-300" draggable="true">
                                                        </div>
                                                    </div>
                                                    <div id="338df7be-c02c-46fd-988a-c44c33301d36"
                                                        class="relative flex justify-center text-sm" draggable="true">
                                                        <span id="19230286-1eea-4e26-b401-ef92bd95df93"
                                                            class="px-2 bg-white text-neutral-600"
                                                            draggable="true"><span>Or continue with</span></span>
                                                    </div>
                                                </div>
                                                <div id="2316d8de-44d9-495d-a9ac-bc036c3d32a3" draggable="true"><button
                                                        class="w-full items-center block px-10 py-3.5 text-base font-medium text-center text-blue-600 transition duration-500 ease-in-out transform border-2 border-white shadow-md rounded-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
                                                        type="submit">
                                                        <div id="2bad8379-5eb9-49bb-ab52-b5bd2c5328e4"
                                                            class="flex items-center justify-center"><svg
                                                                xmlns="http://www.w3.org/2000/svg"
                                                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                class="w-6 h-6" viewBox="0 0 48 48" draggable="true">
                                                                <defs id="6b6cd211-fc50-417b-93fd-9ed3d7a06652">
                                                                    <path id="a"
                                                                        d="M44.5 20H24v8.5h11.8C34.7 33.9 30.1 37 24 37c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.6 4.1 29.6 2 24 2 11.8 2 2 11.8 2 24s9.8 22 22 22c11 0 21-8 21-22 0-1.3-.2-2.7-.5-4z"
                                                                        draggable="true"></path>
                                                                </defs>
                                                                <clipPath id="b">
                                                                    <use id="7697cec6-fa05-49e3-9d97-0df5ffbab7bc"
                                                                        xlink:href="#a" overflow="visible"
                                                                        draggable="true"></use>
                                                                </clipPath>
                                                                <path clip-path="url(#b)" fill="#FBBC05"
                                                                    d="M0 37V11l17 13z"></path>
                                                                <path clip-path="url(#b)" fill="#EA4335"
                                                                    d="M0 11l17 13 7-6.1L48 14V0H0z"></path>
                                                                <path clip-path="url(#b)" fill="#34A853"
                                                                    d="M0 37l30-23 7.9 1L48 0v48H0z"></path>
                                                                <path clip-path="url(#b)" fill="#4285F4"
                                                                    d="M48 48L17 24l-4-3 35-10z"></path>
                                                            </svg><span id="9f0bce75-5796-4e0f-994b-50f5baef8e89"
                                                                class="ml-4" draggable="true"><span>Log in with
                                                                    Google</span></span></div>
                                                    </button></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="7872eb13-854d-4ae5-be21-b392f3a3dc0d"
                                    class="relative flex-1 hidden w-0 overflow-hidden lg:block" draggable="true"><img
                                        class="absolute inset-0 object-cover w-full h-full"
                                        src="https://www.wickedblocks.dev/./images/placeholders/rectangleWide.svg"
                                        alt=""></div>
                            </div>
                        </section>

                    </div>
                    <div id="788d0ee7-f9c8-49e6-b216-b45ee82182a5" class="mx-auto text-center" draggable="true"></div>
                    <div class="emptyblock" style="padding-top: 0px; padding-bottom: 0px;">
                        <section class="w-full bg-white"></section>

                    </div>
                </div>
            </section>

        </div>
    </div>

    ${_footer}
    <script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</body>

</html>