<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
    <meta name="title" content="REVEUX">
    <meta name="description" content="REVEUX is an ecommerce website which sells cosmetic related products. ">
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://metatags.io/">
    <meta property="og:title" content="REVEUX">
    <meta property="og:description" content="REVEUX is an ecommerce website which sells cosmetic related products. ">
    <meta property="og:image"
        content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://metatags.io/">
    <meta property="twitter:title" content="REVEUX">
    <meta property="twitter:description"
        content="REVEUX is an ecommerce website which sells cosmetic related products. ">
    <meta property="twitter:image"
        content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">
    <link rel="shortcut icon" href="/img/icons/Favicon.svg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/src/output.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.3.5/dist/alpine.min.js" defer></script>
    <script src="/src/payment.js" defer></script>

    <!-- 
    <style>
        .top-img {
            width: 100%;
            height: 100%;
            background-image: url(${product?.cover});
            background-size: cover;
            background-position: 50% 50%;
        }

        .container {
            display: flex;
            justify-content: center;
            height: 100vh;
            width: auto;
            background-image: white;
            background-image:
                radial-gradient(at 20% 79%, hsla(41, 100%, 88%, 1) 0, transparent 100%),
                radial-gradient(at 54% 6%, hsla(42, 100%, 89%, 1) 0, transparent 47%),
                radial-gradient(at 81% 24%, hsla(41, 100%, 90%, 1) 0, transparent 52%),
                radial-gradient(at 6% 15%, hsla(0, 81%, 80%, 1) 0, transparent 50%),
                radial-gradient(at 90% 84%, hsla(0, 100%, 84%, 1) 0, transparent 50%);
        }

        .product_img,
        .desc {
            display: flex;
            flex-direction: column;
            align-self: center;
        }

        .product_img {
            padding-right: 5em;

        }

        .product_img img {
            background-color: rgba(255, 255, 255, 0.288);
            border-radius: 1em;
            padding: 60px;
        }

        .desc {
            width: 30%;
        }

        .btn {
            font-family: inherit;
            margin-top: 2.5em;
            padding: 0.7em;
            border-radius: .5em;
            background-color: rgb(0, 0, 0);
            color: azure;
        }

        .text_under_btn {
            margin-bottom: 0;
            margin-top: .5em;
            font-size: .7em;
        }

        .title {
            font-weight: bold;
        }
    </style> -->
</head>

<body>
    <header class='antialiased '>
        ${_navBar}
        <div class="hero-card">
            <div class="h-[30.25rem]">
                <img class="w-full object-cover object-bottom" src="${product?.cover}" alt="Cover of ${product.name}"
                    draggable="false">
            </div>
        </div>
    </header>

    <section class="flex my-10">
        <div
            class="flex justify-center p-8 mx-10 w-2/5 h-80 rounded-lg bg-white/70 shadow-lg shadow-[hsl(216,100%,86%)] overflow-hidden sticky top-20">
            <img class="h-full object-contain" src="${product.image}" alt="Image of ${product.name}" draggable="false">
        </div>
        <div class="w-3/5 p-8">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde et ipsa odit tempora voluptates facere totam,
            libero ducimus velit molestiae, dolorum atque quas maxime temporibus numquam vero ut adipisci quam ad labore
            natus aliquid dicta. Error saepe aspernatur hic possimus, nostrum recusandae veniam sequi fuga ipsum quaerat
            soluta quas totam placeat a esse! At nisi officia, voluptates ex maxime fugiat repellat, quis aliquam quam,
            minima consectetur. Repellendus ut vel a recusandae, tempora maxime autem quam aperiam est sequi dolorum
            ipsum perferendis quibusdam consequatur dolorem totam non ad ratione minima, magnam doloribus molestias
            iure. Debitis id asperiores exercitationem quas impedit voluptatibus, vero ducimus provident magni dolores
            necessitatibus doloribus veniam aperiam voluptatem ipsa perspiciatis ratione earum explicabo. Qui, at
            impedit sunt porro, error corrupti odit nobis facilis provident animi accusamus enim consectetur architecto
            quisquam? Ipsam cupiditate assumenda ipsum animi saepe laboriosam reiciendis excepturi id! Dolorum suscipit
            sapiente aut provident eveniet, quos quaerat quas laudantium veritatis, est illum facere magni harum quasi
            accusamus sint illo eaque dolor, deleniti eligendi porro ea! Debitis doloremque at dolorum voluptas porro
            ratione dolorem hic error asperiores officiis sequi, tempore et illum, aliquam nostrum vel deserunt esse!
            Veritatis quo cumque delectus architecto facilis provident voluptatibus iste quidem quisquam quod magnam
            earum possimus enim fugiat dolorem magni at exercitationem, animi eveniet, ipsa praesentium fuga inventore
            expedita! Fugit natus explicabo, sint maxime asperiores recusandae earum, ut consequuntur quasi modi
            necessitatibus autem consectetur voluptates inventore iure laboriosam cum reprehenderit a tempora quod.
            Ipsum adipisci expedita accusamus hic nihil qui! Nihil in saepe cumque asperiores repellendus eius, quis,
            assumenda mollitia porro quaerat praesentium dolorem accusamus accusantium provident sequi iste ut nobis
            necessitatibus placeat, animi perferendis quisquam. Consequuntur totam ratione commodi perferendis
            reiciendis pariatur illo officia veniam, possimus rem, beatae quae tempora explicabo quam dolore maxime sed
            repellat id nihil nam? Hic rem obcaecati placeat, nemo porro magni ducimus aliquid cumque voluptate commodi
            laudantium, eius deleniti minima provident sit, accusamus a cupiditate? Dignissimos a quidem saepe veniam
            quasi atque labore recusandae deserunt eius quis, minima laborum non quaerat! Eius odio vero obcaecati
            aperiam deleniti natus, distinctio cupiditate ab cum perferendis, perspiciatis beatae facere praesentium
            officia, nemo magni voluptas error. Soluta et, minima, voluptatem nulla nostrum dicta maxime dolores
            reiciendis quae itaque ipsam explicabo. Atque eum modi, inventore at in voluptates laudantium saepe,
            sapiente distinctio aut rerum nisi hic quibusdam rem, quasi enim mollitia. Doloremque suscipit iusto veniam,
            voluptatum temporibus accusamus laboriosam aut. Molestias molestiae alias officia repellat totam recusandae
            expedita dolore ea minima amet itaque neque aut maiores dolor voluptates eum, quibusdam illum possimus,
            voluptas quia placeat laudantium voluptatum. Eveniet tempore, eaque ratione hic voluptas minus modi
            perferendis exercitationem animi, inventore cupiditate sunt fugit architecto labore repellat numquam,
            perspiciatis aspernatur incidunt suscipit pariatur enim odit. Obcaecati aspernatur tempore cupiditate. Aut
            praesentium tempora et corporis, in velit ad blanditiis reiciendis iure, quae eius neque debitis. Aut,
            necessitatibus molestias nesciunt suscipit dolore, dolorem at nobis consectetur tempora, assumenda
            voluptatibus sequi vitae officia vel soluta? In laborum consequuntur modi adipisci at minus, cum ullam,
            atque esse officia ex exercitationem maxime corporis. Mollitia animi, hic cumque et ipsa sapiente explicabo
            eum quidem sint. Doloremque doloribus exercitationem rem similique autem cum eos aut, eveniet quo blanditiis
            dolore veniam! Aperiam veniam tempora esse nulla, distinctio eveniet excepturi quae quas. In odio ex ad a
            voluptatum amet ipsa aspernatur dicta vel quos, sint tempora animi maiores voluptates porro laudantium
            perferendis, vero culpa numquam repellendus! Officiis, totam ipsum optio rerum rem soluta beatae odio iusto
            ut assumenda repudiandae debitis tempore similique temporibus? Corporis doloribus, velit nisi commodi, quos
            repellendus non fugiat blanditiis quibusdam tempora repudiandae autem? Quidem voluptates nulla eligendi eos
            hic voluptatem modi mollitia dolore ipsam non veritatis necessitatibus natus eum assumenda est, eaque omnis
            delectus accusantium nihil maxime. Vero odit corporis ea quasi sint sed veniam reprehenderit debitis nobis
            iusto inventore nulla voluptate quis maiores natus consequatur ex provident iure itaque dignissimos ab, amet
            dolore. Temporibus totam impedit, praesentium ipsum aliquam minus, quae qui quas quasi ea pariatur dolores
            error fuga. Molestias, odio quam reprehenderit nobis nihil nemo maiores, eaque laborum beatae tempora
            perferendis, dolores atque ipsum asperiores facilis corporis eos. Molestiae, officia tenetur beatae mollitia
            quod minus tempore quibusdam odit quo, suscipit animi cum, sunt harum reiciendis ipsum at officiis dolores
            quaerat voluptatibus dolorem et! Minima tempore eveniet perspiciatis eum officiis, officia, explicabo esse
            cumque est voluptas velit repellendus libero repellat? Autem, corporis ipsam officia repellendus repellat,
            iusto dolores nostrum adipisci ex ducimus quibusdam optio sint minima vel cum! Temporibus minus fuga
            voluptas vitae consectetur quia debitis et fugiat, architecto sequi aut unde quis illum ipsa iste quasi
            dolorem voluptatibus provident. Hic labore placeat fugiat molestias veritatis, deleniti quisquam alias non
            sequi corporis fugit est distinctio libero quidem maiores mollitia quis eos facere. Illum aut, molestias
            commodi, ad magni corrupti minus voluptatum aliquid corporis, cupiditate at quos. Ipsa quo aliquid fugiat
            eum quidem officia doloribus cumque, facilis id commodi. Obcaecati, maxime alias impedit fugit architecto
            soluta a! Aut iusto doloribus porro odit, adipisci eligendi. Animi neque perferendis provident nobis, nemo
            id minima autem eius. Possimus consequatur nostrum odit, dolores sit perspiciatis, cumque dolorem, similique
            provident a aperiam voluptatem magni labore expedita quod totam nam omnis placeat deleniti. Officiis ullam,
            delectus dolorum repudiandae rerum eum. Suscipit delectus maiores minima neque, voluptate, molestiae ipsa
            quidem nemo fuga voluptatem temporibus ullam laborum eum recusandae corporis odio ad a ut soluta optio velit
            perspiciatis pariatur. Reprehenderit veniam ratione quod molestiae voluptas, itaque sapiente distinctio
            reiciendis possimus vero neque perferendis voluptatum maiores quae tenetur sunt placeat exercitationem,
            harum quos error doloremque. Cum dignissimos harum, eaque iure reprehenderit atque aspernatur inventore
            corporis sint non suscipit quos minima eos eius, commodi iste ad at quasi dolorem laboriosam exercitationem
            rem asperiores? Eos ipsum sunt laborum exercitationem et nostrum ab pariatur, consectetur debitis omnis
            eligendi aut, quia, ea at illo rerum molestias necessitatibus vel facere ipsa error in! Consequatur possimus
            sit sunt, esse neque sed vel nostrum dolores explicabo alias ullam doloremque tenetur nesciunt id quis
            blanditiis dolorem distinctio voluptas illum sequi beatae! Ut commodi facere qui.
        </div>
    </section>

    <!-- <header class='header'>
        <div class="top-img"></div>
    </header>
    <div class="container">
        <div class="product_img">
            <img src=${product.image} alt="product" width="400px" height="400px">

            <button class="btn" id="pay">BUY</button>
            <p class="text_under_btn">Premium Member: 5% discount</p>
            <p class="text_under_btn">Divine Member: 10% discount</p>
        </div>
        <div class="desc">
            <p class="title">
                ${product.name}
            </p>
            <p class="title">PRICE</p>
            <p class="text">
                ${product.price}
            </p>
            <p class="title">DESCRIPTION</p>
            <table>
                ${Object.keys(product.description).map( key => `
                <tr>
                    <td class='title'>${key}</td>
                    <td class='text'>${product?.description[key]}</td>
                </tr>
                `).join(" ")}
            </table>
        </div>
    </div> -->

    ${_footer}
</body>

</html>