<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>${product?.name || 'Product'}</title>
    <meta name="title" content="REVEUX">
    <meta name="description" content="REVEUX is an ecommerce website which sells cosmetic related products. ">
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://metatags.io/">
    <meta property="og:title" content="REVEUX">
    <meta property="og:description" content="REVEUX is an ecommerce website which sells cosmetic related products. ">
    <meta property="og:image"
        content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://metatags.io/">
    <meta property="twitter:title" content="REVEUX">
    <meta property="twitter:description"
        content="REVEUX is an ecommerce website which sells cosmetic related products. ">
    <meta property="twitter:image"
        content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">
    <link rel="shortcut icon" href="/img/icons/Favicon.svg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/src/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.3.5/dist/alpine.min.js" defer></script>
    <script src="/src/payment.js" defer></script>
</head>

<body>
    <header class='antialiased '>
        ${_navBar}
        <div class="hero-card mb-0 xl:mb-20">
            <div class="h-[30.25rem]">
                <img class="w-auto lg:h-screen md:w-screen h-full object-cover lg:-translate-y-1/4"
                    src="${product.coverImg}" alt="Cover of ${product.name}" draggable="false">
            </div>
        </div>
    </header>

    <section class="flex p-10 xl:my-10 flex-col xl:flex-row items-center xl:items-start">
        <div
            class="flex flex-col justify-around w-full mb-10 xl:mb-0 p-8 xl:mx-10 xl:w-2/5 h-96 rounded-lg bg-white/70 shadow-lg shadow-[hsl(216,100%,86%)] overflow-hidden xl:sticky xl:top-20">
            <img class="h-3/4 mb-10 object-contain" src="${product.img}" alt="Image of ${product.name}"
                draggable="false">
            <form action="./${product._id}/addToBag?name=${name}" method="POST">
                <button type="submit" class="primary-btn capitalize w-full">Add to bag</button>
            </form>
        </div>
        <div class="xl:max-w-full xl:w-auto w-full">
            <div class="justify-center p-8 rounded-lg bg-white/70 shadow-lg shadow-[hsl(216,100%,86%)] h-min">
                <div class="mb-5">

                    <div class="capitalize text-3xl font-black"> ${product.name}</div>
                    <div class="text-blue-600">
                        ${new Intl.NumberFormat(undefined, {
                        style: "currency",
                        currency: "MYR",
                        minimumFractionDigits: 2
                        }).format(product.price)}
                    </div>
                </div>
                <div class="grid grid-cols-[minmax(auto,1fr)_minmax(auto,3fr)] w-full capitalize overflow-hidden">
                    ${Object.keys(product.description[0]).map( key => {
                    return `
                    <div class="my-2 break-words">${key}</div>
                    <div class="my-2 break-words">

                        ${ typeof((product?.description[0])[key]) !== "string" ?
                        (product?.description[0])[key].join(", ") :
                        (product?.description[0])[key]
                        }
                    </div>
                    `}).join(" ")}
                </div>
            </div>
        </div>
    </section>

    ${_footer}
</body>

</html>