<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <meta name="title" content="REVEUX">
    <meta name="description" content="REVEUX is an ecommerce website which sells cosmetic related products. ">
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://metatags.io/">
    <meta property="og:title" content="REVEUX">
    <meta property="og:description" content="REVEUX is an ecommerce website which sells cosmetic related products. ">
    <meta property="og:image"
        content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://metatags.io/">
    <meta property="twitter:title" content="REVEUX">
    <meta property="twitter:description"
        content="REVEUX is an ecommerce website which sells cosmetic related products. ">
    <meta property="twitter:image"
        content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">
    <link rel="shortcut icon" href="/img/icons/Favicon.svg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/src/output.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.3.5/dist/alpine.min.js" defer></script>
    <script src="/src/validation.js" defer></script>
</head>

<body>
    <header>
        ${_navBar}
    </header>

    <section>
        <div id="canvas-wrapper" class="flex min-h-screen overflow-hidden container px-5 py-24 mx-auto lg:px-16">
            <div class="flex flex-col justify-center flex-1 px-4 pb-6 sm:px-6 lg:flex-none lg:px-20 lg:py-12 xl:px-24">
                <div class="w-full max-w-xl mx-auto lg:w-96">
                    <a href="/" class="text-blue-800 text-medium font-Cinzel tracking-widest">
                        <span>REVEUX</span>
                    </a>
                    <h2 class="mt-6 text-3xl font-extrabold text-neutral-600">
                        <span class="">Sign up.</span>
                    </h2>
                    <form action="register" method="POST" class="mt-8 space-y-6"
                        x-data="{username: '', email: '', password: '', confirmation_password: '', isReveal: false, isConfirmReveal: false}">
                        <div class="w-full">
                            <label for="username" class="label-input-field">
                                <span class="after:content-['*'] after:ml-0.5 after:text-red-500">Username</span>
                            </label>
                            <div class="mt-1">
                                <input id="username" name="username" type="text" required placeholder="Username"
                                    class="input-field" x-model="username">
                            </div>
                        </div>
                        <div class="">
                            <label for="email" class="label-input-field">
                                <span class="after:content-['*'] after:ml-0.5 after:text-red-500">Email
                                    address</span>
                            </label>
                            <div class="mt-1 flex bg-gray-50 rounded-lg">
                                <input id="email" name="email" type="email" autocomplete="email" required
                                    placeholder="Your Email" class="input-field" x-model="email">
                                <svg class="h-6 w-6 mr-4 my-auto text-gray-300" xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207">
                                    </path>
                                </svg>
                            </div>
                        </div>
                        <div class="space-y-1">
                            <label for="password" class="label-input-field">
                                <span class="after:content-['*'] after:ml-0.5 after:text-red-500">Password</span>
                            </label>
                            <div class="mt-1 flex bg-gray-50 rounded-lg">
                                <input id="password" name="password" :type="isReveal ? 'text' : 'password'"
                                    autocomplete="current-password" required placeholder="Your Password"
                                    class="input-field" x-model="password">
                                <svg @mousedown="isReveal = true" @mouseup="isReveal = false"
                                    class="h-6 w-6 mr-4 my-auto cursor-pointer text-gray-300 hover:text-gray-500"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                        <div class="space-y-1">
                            <label for="password" class="label-input-field">
                                <span class="after:content-['*'] after:ml-0.5 after:text-red-500">Confirmation
                                    Password</span>
                            </label>
                            <div class="mt-1 flex bg-gray-50 rounded-lg">
                                <input id="repassword" name="password" :type="isConfirmReveal ? 'text' : 'password'"
                                    autocomplete="current-password" required placeholder="Your Password"
                                    class="input-field" x-model="confirmation_password">
                                <svg @mousedown="isConfirmReveal = true" @mouseup="isConfirmReveal = false"
                                    class="h-6 w-6 mr-4 my-auto cursor-pointer text-gray-300 hover:text-gray-500"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                        <div class="flex flex-col items-start">
                            <div class="flex py-1">
                                <div :class="{'!text-green-600': username != null && username.length >= 3}"
                                    class="text-red-600 rounded-full p-1 fill-current">
                                    <svg class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path x-show="username.length >= 3" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                                        <path x-show="username.length < 3" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                                    </svg>
                                </div>
                                <div>
                                    <span :class="{'!text-green-600': username != null && username.length >= 3}"
                                        class="text-red-600 font-medium text-sm"
                                        x-text="username.length >= 3 ? 'The username is validated' : 'Username required at least 3 characters'"></span>
                                </div>
                            </div>
                            <div class="flex py-1">
                                <div :class="{'!text-green-600': email.match(/^[a-zA-Z0-9_.-]+@.+\.(com|my|sg|jp|id|th|vn|kr|hk|tw|mm)$/)}"
                                    class="text-red-600 rounded-full p-1 fill-current">
                                    <svg class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path
                                            x-show="email.match(/^[a-zA-Z0-9_.-]+@.+\.(com|my|sg|jp|id|th|vn|kr|hk|tw|mm)$/)"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M5 13l4 4L19 7" />
                                        <path
                                            x-show="!email.match(/^[a-zA-Z0-9_.-]+@.+\.(com|my|sg|jp|id|th|vn|kr|hk|tw|mm)$/)"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M6 18L18 6M6 6l12 12" />

                                    </svg>
                                </div>
                                <div>
                                    <span
                                        :class="{'!text-green-600': email.match(/^[a-zA-Z0-9_.-]+@.+\.(com|my|sg|jp|id|th|vn|kr|hk|tw|mm)$/)}"
                                        class="text-red-600 font-medium text-sm"
                                        x-text="email.match(/^[a-zA-Z0-9_.-]+@.+\.(com|my|sg|jp|id|th|vn|kr|hk|tw|mm)$/) ? 'The email address is validated' : 'Invalid email address'"></span>
                                </div>
                            </div>
                            <div class="flex py-1">
                                <div :class="{'!text-green-600': password.length >= 7}"
                                    class="text-red-600 rounded-full p-1 fill-current">
                                    <svg class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path x-show="password.length >= 7" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                                        <path x-show="password.length < 7" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />

                                    </svg>
                                </div>
                                <div>
                                    <span :class="{'!text-green-600': password.length >= 7}"
                                        class="text-red-600 font-medium text-sm"
                                        x-text="password.length >= 7 ? 'The password is validated' : 'Password required at least 7 characters, 1 uppercase, 1 lowercase, 1 numeric and 1 special characters'"></span>
                                </div>
                            </div>
                            <div class="flex py-1">
                                <div :class="{'!text-green-600':  password == confirmation_password && password.length > 0}"
                                    class="text-red-600 rounded-full p-1 fill-current">
                                    <svg class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path x-show="password == confirmation_password && password.length > 0"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M5 13l4 4L19 7" />
                                        <path x-show="password != confirmation_password || password.length == 0"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M6 18L18 6M6 6l12 12" />

                                    </svg>
                                </div>
                                <div>
                                    <span
                                        :class="{'!text-green-600':  password == confirmation_password && password.length > 0}"
                                        class="text-red-600 font-medium text-sm"
                                        x-text="password == confirmation_password && password.length ? 'The passwords are matched' : 'The passwords do not match'"></span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button class="flex items-center justify-center w-full primary-btn" type="submit">
                                Sign up
                            </button>
                        </div>
                    </form>
                    <div class="flex flex-col items-center gap-5 mt-5">
                        <span class="text-gray-400 text-xs">
                            <span>Already have an account?</span>
                            <a class="text-blue-600 hover:underline" href="/login">Sign In</a>
                        </span>
                        <p class="mt-8 text-xs text-gray-400"><a class="underline hover:text-gray-500" href="#">Policy
                                privacy</a> and <a class="underline hover:text-gray-500" href="#">Terms of Use</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="relative flex-1 hidden w-0 overflow-hidden lg:block rounded-lg">
                <img class="inset-0 object-cover object-top w-full h-full"
                    src="https://images.unsplash.com/photo-1608571702346-bf078a741b19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&q=80"
                    alt="Serum Banner" draggable="false">
            </div>
        </div>
    </section>

    ${_footer}
</body>

</html>