<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REVEUX</title>
    <meta name="title" content="REVEUX">
    <meta name="description" content="REVEUX is an ecommerce website which sells cosmetic related products. ">
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://metatags.io/">
    <meta property="og:title" content="REVEUX">
    <meta property="og:description" content="REVEUX is an ecommerce website which sells cosmetic related products. ">
    <meta property="og:image"
        content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://metatags.io/">
    <meta property="twitter:title" content="REVEUX">
    <meta property="twitter:description"
        content="REVEUX is an ecommerce website which sells cosmetic related products. ">
    <meta property="twitter:image"
        content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">
    <link rel="shortcut icon" href="/img/icons/Favicon.svg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/src/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.3.5/dist/alpine.min.js" defer></script>
    <script src="/src/cart.js" defer></script>
</head>


<body class="theme">
    <header>
        ${_navBar}
    </header>
    <section class="py-20">
        <div class="container mx-auto px-4">
            <div class="p-8 lg:p-20 bg-white rounded-3xl smooth-shadow-light">
                <h2 class="mb-20 text-5xl font-bold font-heading">Your cart</h2>
                <div class="flex items-center -mx-4">
                    <div class="w-full xl:w-8/12 mb-8 xl:mb-0 px-4">
                        <div class="hidden lg:flex w-full">
                            <div class="w-full lg:w-3/6">
                                <h4 class="mb-6 font-bold font-heading text-gray-500">Description</h4>
                            </div>
                            <div class="w-full lg:w-1/6">
                                <h4 class="mb-6 font-bold font-heading text-gray-500 -ml-[10rem]">Price</h4>
                            </div>
                            <div class="w-full lg:w-1/6 text-center">
                                <h4 class="mb-6 font-bold font-heading text-gray-500 -ml-[22rem]">Quantity</h4>
                            </div>
                            <div class="w-full lg:w-1/6">
                                <h4 class="mb-6 font-bold font-heading text-gray-500 -ml-[7rem]">Subtotal</h4>
                            </div>
                        </div>
                        <div class="mb-12 py-6 border-t border-b border-gray-200" id="cart">
                            <div class="flex flex-col justify-center">
                                <div class="flex flex-wrap items-center -mx-4 mb-6 md:mb-3">
                                    <div class="w-full md:w-4/6 lg:w-6/12 px-4 mb-6 md:mb-0">
                                        <div class="flex -mx-4 flex-wrap items-start flex-col">
                                            <div class="w-full md:w-1/3 px-4 py-2 mb-3 ml-3 bg-gray-100 rounded-2xl">
                                                <!-- <div
                                                class="flex items-center justify-center w-auto md:w-24 h-32 bg-gray-100 rounded-2xl"> -->
                                                <img class="w-full h-full object-contain"
                                                    src="/img/products/hair-care/hair-essential-oil/hair-essential-oil-01.png"
                                                    alt="hair-essential-oil-01">
                                                <!-- </div> -->
                                            </div>
                                            <div class="w-2/3 px-4">
                                                <h3 class="mb-2 text-xl font-bold font-heading">Hair Essential Oil</h3>
                                                <p class="text-gray-500">Made by aloe vera</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hidden lg:block lg:w-2/12 px-4" id="itemPrice">
                                        <div id="price">
                                            <p class="text-lg text-blue-900 font-bold font-heading -ml-[11rem]">RM109.99
                                            </p>
                                        </div>
                                        <span class="text-xs text-gray-500 line-through -ml-[11rem]">RM119.99</span>
                                    </div>
                                    <div class="w-auto md:w-1/6 lg:w-2/12 px-4 -ml-[11rem]">
                                        <div class="inline-flex items-center px-4 font-semibold font-heading text-gray-500 border border-gray-200 focus:ring-blue-300 focus:border-blue-300 rounded-md"
                                            x-data="{count: 1}">
                                            <button class="py-2 hover:text-gray-700" type="button"
                                                @click="if(count<=1) return; count--">
                                                <svg width="12" height="2" viewbox="0 0 12 2" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <g opacity="0.35">
                                                        <rect x="12" width="2" height="12" transform="rotate(90 12 0)"
                                                            fill="currentColor"></rect>
                                                    </g>
                                                </svg>
                                            </button>
                                            <div
                                                class="w-12 m-0 px-2 py-4 text-center border-0 focus:ring-transparent focus:outline-none rounded-md">
                                                <span x-text="count"></span>
                                            </div>
                                            <button class="py-2 hover:text-gray-700" type="button" @click="count++">
                                                <svg width="12" height="12" viewbox="0 0 12 12" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <g opacity="0.35">
                                                        <rect x="5" width="2" height="12" fill="currentColor"></rect>
                                                        <rect x="12" y="5" width="2" height="12"
                                                            transform="rotate(90 12 5)" fill="currentColor"></rect>
                                                    </g>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="ml-14">
                                        <p class="text-lg text-blue-900 font-bold font-heading">RM109.99</p>
                                    </div>
                                    <div class="md:w-1/6 lg:w-2/12 px-4 text-right ml-8">
                                        <button class="bg-red-400 p-3 rounded-md text-white" type="button"
                                            id="btn-remove-item">Remove</button>
                                    </div>
                                </div>
                                <div class="flex flex-wrap items-center -mx-4 mt-10">
                                    <div class="w-full md:w-4/6 lg:w-6/12 px-4 mb-6 md:mb-0">
                                        <div class="flex -mx-4 flex-wrap items-start flex-col">
                                            <div
                                                class="flex items-center justify-center w-full md:w-1/3 px-4 py-2 mb-3 ml-3 bg-gray-100 rounded-2xl">
                                                <!-- <div
                                                class="flex items-center justify-center w-full md:w-24 h-32 bg-gray-100 rounded-2xl"> -->
                                                <img class="w-full h-full object-contain"
                                                    src="/img/products/hair-care/shampoo/shampoo-04.png" alt="">
                                                <!-- </div> -->
                                            </div>
                                            <div class="w-full md:w-2/3 px-4">
                                                <h3 class="mb-2 text-xl font-bold font-heading">Shampoo</h3>
                                                <p class="text-gray-500">Made by lavender, and rose</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hidden lg:block lg:w-2/12 px-4" id="itemPrice">
                                        <p class="text-lg text-blue-900 font-bold font-heading -ml-[11rem]" id="price">
                                            RM138.99</p>
                                        <span class="text-xs text-gray-500 line-through -ml-[11rem]">RM150.00</span>
                                    </div>
                                    <div class="w-auto md:w-1/6 lg:w-2/12 px-4 -ml-[11rem]">
                                        <div class="inline-flex items-center px-4 font-semibold font-heading text-gray-500 border border-gray-200 focus:ring-blue-300 focus:border-blue-300 rounded-md"
                                            x-data="{count: 1}">
                                            <button class="py-2 hover:text-gray-700"
                                                @click="if(count<=1) return; count--">
                                                <svg width="12" height="2" viewbox="0 0 12 2" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <g opacity="0.35">
                                                        <rect x="12" width="2" height="12" transform="rotate(90 12 0)"
                                                            fill="currentColor"></rect>
                                                    </g>
                                                </svg>
                                            </button>
                                            <div
                                                class="w-12 m-0 px-2 py-4 text-center border-0 focus:ring-transparent focus:outline-none rounded-md">
                                                <span x-text="count"></span>
                                            </div>
                                            <button class="py-2 hover:text-gray-700" @click="count++">
                                                <svg width="12" height="12" viewbox="0 0 12 12" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <g opacity="0.35">
                                                        <rect x="5" width="2" height="12" fill="currentColor"></rect>
                                                        <rect x="12" y="5" width="2" height="12"
                                                            transform="rotate(90 12 5)" fill="currentColor"></rect>
                                                    </g>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="ml-14">
                                        <p class="text-lg text-blue-900 font-bold font-heading">RM138.99</p>
                                    </div>
                                    <div class="md:w-1/6 lg:w-2/12 px-4 text-right ml-8">
                                        <button class="bg-red-400 p-3 rounded-md text-white" type="button"
                                            id="btn-remove-item">Remove</button>
                                    </div>
                                </div>
                                <div class="flex flex-wrap items-center -mx-4 mt-10">
                                    <div class="w-full md:w-4/6 lg:w-6/12 px-4 mb-6 md:mb-0">
                                        <div class="flex -mx-4 flex-wrap items-start flex-col">
                                            <div
                                                class="flex items-center justify-center w-full md:w-1/3 px-4 py-2 mb-3 ml-3 bg-gray-100 rounded-2xl">
                                                <!-- <div
                                                class="flex items-center justify-center w-full md:w-24 h-32 bg-gray-100 rounded-2xl"> -->
                                                <img class="w-full h-full object-contain"
                                                    src="/img/products/hair-care/shampoo/shampoo-04.png" alt="">
                                                <!-- </div> -->
                                            </div>
                                            <div class="w-full md:w-2/3 px-4">
                                                <h3 class="mb-2 text-xl font-bold font-heading">Shampoo</h3>
                                                <p class="text-gray-500">Made by lavender, and rose</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hidden lg:block lg:w-2/12 px-4" id="itemPrice">
                                        <p class="text-lg text-blue-900 font-bold font-heading -ml-[11rem]" id="price">
                                            RM138.99</p>
                                        <span class="text-xs text-gray-500 line-through -ml-[11rem]">RM150.00</span>
                                    </div>
                                    <div class="w-auto md:w-1/6 lg:w-2/12 px-4 -ml-[11rem]">
                                        <div class="inline-flex items-center px-4 font-semibold font-heading text-gray-500 border border-gray-200 focus:ring-blue-300 focus:border-blue-300 rounded-md"
                                            x-data="{count: 1}">
                                            <button class="py-2 hover:text-gray-700"
                                                @click="if(count<=1) return; count--">
                                                <svg width="12" height="2" viewbox="0 0 12 2" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <g opacity="0.35">
                                                        <rect x="12" width="2" height="12" transform="rotate(90 12 0)"
                                                            fill="currentColor"></rect>
                                                    </g>
                                                </svg>
                                            </button>
                                            <div
                                                class="w-12 m-0 px-2 py-4 text-center border-0 focus:ring-transparent focus:outline-none rounded-md">
                                                <span x-text="count"></span>
                                            </div>
                                            <button class="py-2 hover:text-gray-700" @click="count++">
                                                <svg width="12" height="12" viewbox="0 0 12 12" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <g opacity="0.35">
                                                        <rect x="5" width="2" height="12" fill="currentColor"></rect>
                                                        <rect x="12" y="5" width="2" height="12"
                                                            transform="rotate(90 12 5)" fill="currentColor"></rect>
                                                    </g>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="ml-14">
                                        <p class="text-lg text-blue-900 font-bold font-heading">RM138.99</p>
                                    </div>
                                    <div class="md:w-1/6 lg:w-2/12 px-4 text-right ml-8">
                                        <button class="bg-red-400 p-3 rounded-md text-white" type="button"
                                            id="btn-remove-item">Remove</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-full xl:w-4/12 px-6 md:p-12 bg-blue-200 rounded-xl">
                        <!-- <div class="p-6 md:p-12 bg-blue-300 rounded-xl" id="calAmount"> -->
                        <h2 class="mb-6 text-4xl font-bold font-heading text-white">Cart totals</h2>
                        <div class="flex mb-8 items-center justify-between pb-5 border-b border-blue-100 subtotal"
                            id="sub">
                            <span class="text-blue-50">Subtotal</span>
                            <span class="text-xl font-bold font-heading text-white subtotal-price"
                                id="subtotal">RM89.67</span>
                        </div>
                        <h4 class="mb-2 text-xl font-bold font-heading text-white">Shipping</h4>
                        <div class="flex mb-2 justify-between items-center">
                            <span class="text-blue-50">Next day</span>
                            <span class="text-xl font-bold font-heading text-white" id="shipFee">RM11.00</span>
                        </div><br>
                        <!-- <div class="flex mb-10 justify-between items-center">
                                <span class="text-blue-50">Shipping to United States</span>
                                <span class="text-xl font-bold font-heading text-white">-</span>
                            </div> -->
                        <div class="flex mb-10 justify-between items-center total">
                            <span class="text-xl font-bold font-heading text-white">Order total</span>
                            <span class="text-xl font-bold font-heading text-white" id="total">RM100.67</span>
                        </div>
                        <div class="flex justify-center">
                            <button type="submit">
                                <a class="primary-btn px-20" href="#">Go to Checkout</a>
                            </button>
                        </div>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        ${_footer}
    </footer>
</body>

</html>