*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --theme-color-hue: 252;
    --theme-color-saturation: 9%;
    --theme-color-lightness: 5%;

    --theme-color: hsl(var(--theme-color-hue), var(--theme-color-saturation), var(--theme-color-lightness));
    --font-color: hsl(0, 0%, 98%);

}
::-webkit-scrollbar {
    background-color: var(--theme-color);
    width: .8rem;
    height: .8rem;
}

::-webkit-scrollbar-thumb {
    --theme-color-lightness: 100%;

    border: 3px solid var(--theme-color);
    background-clip: padding-box;
    border-radius: 999em;
    background-color: hsl(0, 0%, 90%);
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

body {
    margin: 0;
    background-color: var(--theme-color);
    color: var(--font-color);
    font-family: 'Inter', sans-serif;
    background-image: url('../img/background.png');
}

a {
    color: inherit;
    text-decoration: none;
}

.logo {
    font-family: 'Cinzel', serif;
    letter-spacing: .2em;
    font-size: 1.6em;
    position: relative;
}

.logo::after {
    content: "tm";
    margin-left: .3em;
    position: absolute;
    letter-spacing: 0em;
    font-size: .5em;
    color: #ccc;
}

.header {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 0 .5em 1em;
    width: 100%;
    font-size: .8em;
}

.pagination {
    display: flex;
}

.pagination > li {
    padding: 0 1em;
    list-style-type: none;
    text-transform: uppercase;
}

.cover {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: .2rem;
    height: 100%;
}

.cover > div {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}

.cover > div > img {
    width: 50%;
}